openapi: 3.2.0
info:
  title: Greenbrier Site Content and Discovery Search API
  version: wp/v2
  description: Public, unauthenticated read access to the static marketing, services, investor and policy pages of www.gbrx.com, plus the cross-content search endpoint and the oEmbed discovery endpoint. Verified live on 2026-09-12 at 51 published pages and 191 searchable objects spanning posts, pages and railcars. The search endpoint returns lightweight id / title / url / type / subtype records and is the cheapest way for a machine to enumerate what Greenbrier publishes.
  contact:
    name: The Greenbrier Companies
    url: https://www.gbrx.com/contact/
  x-derived-from: https://www.gbrx.com/wp-json/ (route-index document, saved verbatim at openapi/_original/greenbrier-cos-wp-json-route-index.json) + live anonymous GET samples
  x-derived-on: '2026-09-12'
  x-api-evangelist-note: 'Third-party profile. The Greenbrier Companies publishes no developer program; this documents the anonymously readable WordPress REST surface behind www.gbrx.com. Every path, parameter, type, default and enum below was read from the server''s own published route descriptor on 2026-09-12 — nothing is invented. Only the GET methods are documented: write methods exist on the same routes but require WordPress application-password credentials and are not part of the public surface.'
servers:
- url: https://www.gbrx.com/wp-json
  description: Greenbrier WordPress REST API
tags:
- name: Search
  description: Cross-content search over posts, pages and railcars.
paths:
  /wp/v2/search:
    get:
      operationId: search
      summary: Search site content
      description: Cross-content search returning lightweight records for matching posts, pages and railcars.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - product
            - railcars
            - wpb_gutenberg_param
            - category
            - post_tag
            - product_brand
            - product_cat
            - product_tag
            - railcar_type
            - cargo_type
            - fluid_capacity
            - cargo_capacity
            - any
          default: any
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      responses:
        '200':
          description: A page of search results.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
          headers:
            X-WP-Total:
              description: Total number of matching records.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages at the requested per_page size.
              schema:
                type: integer
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST error envelope (WP_Error serialized).
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
    SearchResult:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
        subtype:
          type: string
        _links:
          type: object
          properties:
            self:
              type: array
              items:
                type: string
            about:
              type: array
              items:
                type: string
            collection:
              type: array
              items:
                type: string
      description: Shape observed on a live anonymous GET of the SearchResult collection on 2026-09-12.
