openapi: 3.1.0
info:
  title: Greenbrier Site Content and Discovery API
  version: wp/v2
  description: Public, unauthenticated read access to the static marketing, services, investor and policy pages of www.gbrx.com,
    plus the cross-content search endpoint and the oEmbed discovery endpoint. Verified live on 2026-09-12 at 51 published
    pages and 191 searchable objects spanning posts, pages and railcars. The search endpoint returns lightweight id / title
    / url / type / subtype records and is the cheapest way for a machine to enumerate what Greenbrier publishes.
  contact:
    name: The Greenbrier Companies
    url: https://www.gbrx.com/contact/
  x-derived-from: https://www.gbrx.com/wp-json/ (route-index document, saved verbatim at openapi/_original/greenbrier-cos-wp-json-route-index.json)
    + live anonymous GET samples
  x-derived-on: '2026-09-12'
  x-api-evangelist-note: 'Third-party profile. The Greenbrier Companies publishes no developer program; this documents the
    anonymously readable WordPress REST surface behind www.gbrx.com. Every path, parameter, type, default and enum below was
    read from the server''s own published route descriptor on 2026-09-12 — nothing is invented. Only the GET methods are documented:
    write methods exist on the same routes but require WordPress application-password credentials and are not part of the
    public surface.'
servers:
- url: https://www.gbrx.com/wp-json
  description: Greenbrier WordPress REST API
tags:
- name: Pages
  description: Static site pages — services, manufacturing, leasing, investors, careers, policies.
- name: Search
  description: Cross-content search over posts, pages and railcars.
- name: Discovery
  description: oEmbed discovery for gbrx.com URLs.
paths:
  /wp/v2/pages:
    get:
      operationId: listPages
      summary: List pages
      description: Retrieve a paginated collection of published gbrx.com pages.
      tags:
      - Pages
      parameters:
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: menu_order
        in: query
        description: Limit result set to posts with a specific menu_order value.
        schema:
          type: integer
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - wc-pending
            - wc-processing
            - wc-on-hold
            - wc-completed
            - wc-cancelled
            - wc-refunded
            - wc-failed
            - wc-checkout-draft
            - email_sent
            - email_failed
            - email_scheduled
            - any
          default: publish
      responses:
        '200':
          description: A page of page records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'
          headers:
            X-WP-Total:
              description: Total number of matching records.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages at the requested per_page size.
              schema:
                type: integer
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/pages/{id}:
    get:
      operationId: getPage
      summary: Get a page
      description: Retrieve one page by its numeric ID.
      tags:
      - Pages
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: id
        in: path
        description: Unique identifier for the post.
        required: true
        schema:
          type: integer
      - name: password
        in: query
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/search:
    get:
      operationId: search
      summary: Search site content
      description: Cross-content search returning lightweight records for matching posts, pages and railcars.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - product
            - railcars
            - wpb_gutenberg_param
            - category
            - post_tag
            - product_brand
            - product_cat
            - product_tag
            - railcar_type
            - cargo_type
            - fluid_capacity
            - cargo_capacity
            - any
          default: any
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      responses:
        '200':
          description: A page of search results.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
          headers:
            X-WP-Total:
              description: Total number of matching records.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages at the requested per_page size.
              schema:
                type: integer
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /oembed/1.0/embed:
    get:
      operationId: getOembed
      summary: Get oEmbed data
      description: Retrieve the oEmbed representation of a gbrx.com URL — provider name, author, title and embed HTML.
      tags:
      - Discovery
      parameters:
      - name: format
        in: query
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        schema:
          type: string
          default: 600
      - name: url
        in: query
        description: The URL of the resource for which to fetch oEmbed data.
        required: true
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oembed'
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource matched (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Page:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        date_gmt:
          type: string
          format: date-time
        guid:
          type: object
          properties:
            rendered:
              type: string
              format: uri
        modified:
          type: string
          format: date-time
        modified_gmt:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
        type:
          type: string
        link:
          type: string
          format: uri
        title:
          type: object
          properties:
            rendered:
              type: string
        content:
          type: object
          properties:
            rendered:
              type: string
            protected:
              type: boolean
        excerpt:
          type: object
          properties:
            rendered:
              type: string
            protected:
              type: boolean
        author:
          type: integer
        featured_media:
          type: integer
        parent:
          type: integer
        menu_order:
          type: integer
        comment_status:
          type: string
        ping_status:
          type: string
        template:
          type: string
        meta:
          type: object
          properties:
            _acf_changed:
              type: boolean
            footnotes:
              type: string
        class_list:
          type: array
          items:
            type: string
        acf:
          type: array
          items:
            type: string
        _links:
          type: object
          properties:
            self:
              type: array
              items:
                type: string
            collection:
              type: array
              items:
                type: string
            about:
              type: array
              items:
                type: string
            author:
              type: array
              items:
                type: string
            replies:
              type: array
              items:
                type: string
            version-history:
              type: array
              items:
                type: string
            predecessor-version:
              type: array
              items:
                type: string
            wp:attachment:
              type: array
              items:
                type: string
            curies:
              type: array
              items:
                type: string
      description: Shape observed on a live anonymous GET of the Page collection on 2026-09-12.
    SearchResult:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
        subtype:
          type: string
        _links:
          type: object
          properties:
            self:
              type: array
              items:
                type: string
            about:
              type: array
              items:
                type: string
            collection:
              type: array
              items:
                type: string
      description: Shape observed on a live anonymous GET of the SearchResult collection on 2026-09-12.
    Oembed:
      type: object
      properties:
        version:
          type: string
        provider_name:
          type: string
        provider_url:
          type: string
          format: uri
        title:
          type: string
        type:
          type: string
        width:
          type: integer
        height:
          type: integer
        html:
          type: string
      description: Shape observed on a live anonymous GET of the Oembed collection on 2026-09-12.
    Error:
      type: object
      description: WordPress REST error envelope (WP_Error serialized).
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
